<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="../pokedex.js"></script>
    <link rel="stylesheet" type="text/css" href="../styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../favicon.ico" rel="icon" type="image/x-icon">
    <base href="PocketPokedex/" />
    <title>Pocket Pokedex</title>
  </head>
  <body>
    <main>

      <h1>Pocket Pokedex</h1>
      <h2>View Collection</h2>

      <a id="home-link" href="">Home</a>

      <section id="sets">
      </section>

    </main>
  </body>
  <script>
    window.onload = async () => {
      const repository = new RouteCardCountRepository();
      const settings = new CollectionSettings();
      settings.isReadOnly = true;
      const collection = await CardCollection.build(repository, settings);
      collection.render();

      document.getElementById('home-link').href = SiteSettings.rootUrl;
    };
  </script>
</html>